#main {
  margin: auto;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main div {
  width: 250px;
  margin:5px;
  margin: auto;
}

.card{
    display: none;
}

.center{
    margin: auto;
    width: 250px;
}

.short{
    width: 30px;
}